body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #edf2f4;
  color: #2b2d42;
}

a {
  color: #2b2d42;
}

a:visited {
  color: #8d99ae
}

a:hover {
  color: #ef233c;
}

.container {
  margin: 0 auto;
  max-width: 768px;
}
